*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #14131b;
    overflow: hidden;
}
.container .navBar{
    position: absolute;
    width: 100%;
    height: 100px;
}
.container .navBar .alarm{
    position: absolute;
    top: 18px;
    left:6%;
}   
.container .navBar #alarm{
    width: 26px;
    height: 26px;
    user-select: none;
    filter: brightness(80%);
}
.container .navBar #account{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: rgb(71, 71, 71);
    position: absolute;
    top: 13px;
    left: 10.5%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container .navBar #account img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    user-select: none;
    filter: brightness(80%);
}
.container .navBar #accountTxt{
    position: absolute;
    color: rgb(230, 230, 230);
    left: 13.4%;
    top: 19px;
    font-size: 1.2em;
    cursor: pointer;
    user-select: none;
}
.container .navBar #moreProfileOption{
    position: absolute;
    width: 17px;
    height: 9px;
    left: 19.7%;
    top: 26px;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    filter: brightness(80%);
}
.container .navBar .header{
    position:absolute;
    left: 85%;
    top: 22px;
    color: #fff;
    font-weight: bold;
    user-select: none;
    font-size: 2.2em;
    z-index: 18;
}
.container .navBar .itIcon{
    animation-name: itIcon;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 2s;
}
@keyframes itIcon{
    from{color: white;}
    to{color: red;}
}
.container .navBar #moreProfileOptionBox{
    position: absolute;
    width: 110px;
    height: 0px;
    border-radius: 4px;
    background-color: rgb(67, 65, 77);
    left: 13%;
    top: 45px;
    overflow: hidden;
    transition: 0.2s;
    z-index: 2000;
}
.container .navBar #moreProfileOptionBox ul{
    position: absolute;
    margin-left: 10px;
}
.container .navBar #moreProfileOptionBox ul li{
    font-weight: bold;
    font-size: 1em;
    list-style: none;
    margin-top: 6px;
    cursor: pointer;
    user-select: none;
    color: rgb(196, 196, 196);
    transition: 0.3s;
}
.container .navBar #moreProfileOptionBox ul li:hover{
    color: rgb(196, 0, 0);
}
.container .sideBar{
    position: absolute;
    right: 0%;
    float: left;
    width: 16%;
    height: 86vh;
    top: 0vh;
    overflow-y: auto;
    box-shadow: -8px 0px 10px rgba(0,0,0,0.5);
    z-index: 10;
}
.container .sideBar .mainOption{
    position: absolute;
    transform: translate(100px);
    top: 13%;
}
.container .sideBar .mainOption li{
    list-style: none;
    color: rgb(192, 192, 192);
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}
.container .sideBar .mainOption li:hover{
    color: rgba(255, 0, 0, 0.849);
}
.container .sideBar .mainOption li svg{
    transform: translate(10px,10px);
    color: rgba(255, 0, 0, 0.651);
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    border: none;
    padding-bottom: 5px;
}
.container .sideBar .mainOption li:hover svg{
    color: red;
}
.container .sideBar .mainOption li:nth-child(1){
    transform: translateX(8px);
}
.container .sideBar .mainOption li:nth-child(1) svg{
    transform: translate(10px,10px);
}
.container .sideBar .mainOption li::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 0px;
    background-color: red;
    border-radius: 20px;
    transform: translate(65px,8px);
    transition: 0.3s;
}
.container .sideBar .mainOption li:nth-child(1):before{
    transform: translate(55px,13px);
}
.container .sideBar .mainOption li:hover::before{
    height: 34px;
}
.container .sideBar .lineOne{
    position: absolute;
    height:1px;
    width: 170px;
    background-color: rgba(255, 0, 0, 0.596);
    top: 42%;
    left: 16%;
}
.container .sideBar .middleOption{
    position: absolute;
    transform: translate(100px,230px);
}
.container .sideBar .middleOption li{
    list-style: none;
    color: rgb(192, 192, 192);
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}
.container .sideBar .middleOption li:nth-child(2)::before{
    transform: translate(66px,8px);
}
.container .sideBar .middleOption li:nth-child(2) svg{
    transform: translate(17px,10px);
}
.container .sideBar .middleOption li:nth-child(2){
    transform: translateX(-10px);
}
.container .sideBar .middleOption li:nth-child(3){
    transform: translateX(13px);
}
.container .sideBar .middleOption li:nth-child(3)::before{
    transform: translate(47px,8px);
}
.container .sideBar .middleOption li:nth-child(4)::before{
    transform: translate(56px,8px);
}
.container .sideBar .middleOption li:hover{
    color: rgba(255, 0, 0, 0.849);
}
.container .sideBar .middleOption li svg{
    transform: translate(10px,10px);
    color: rgba(255, 0, 0, 0.651);
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    border: none;
    padding-bottom: 5px;
}
.container .sideBar .middleOption li:hover svg{
    color: red;
}
.container .sideBar .middleOption li:nth-child(1){
    transform: translateX(1px);
}
.container .sideBar .middleOption li:nth-child(1) svg{
    transform: translate(10px,10px);
}
.container .sideBar .middleOption li::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 0px;
    background-color: red;
    border-radius: 20px;
    transform: translate(65px,8px);
    transition: 0.3s;
}
.container .sideBar .middleOption li:nth-child(1):before{
    transform: translate(55px,13px);
}
.container .sideBar .middleOption li:hover::before{
    height: 34px;
}
.container .sideBar .lineTwo{
    position: absolute;
    height:1px;
    width: 170px;
    background-color: rgba(255, 0, 0, 0.596);
    top: 82%;
    left: 16%;
}
/*                 songs controler style                 */
.container .songControler{
    position: absolute;
    bottom: 0%;
    width: 100%;
    z-index: 12;
    height: 90px;
    background-color:#14131b;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
.container .songControler #play{
    position: absolute;
    fill: rgb(150, 0, 0);
    left: 45%;
    top: 15%;
    user-select: none;
    transition: .2s;
    cursor: pointer;
}
.container .songControler #play:hover{
    fill: red;
}
.container .songControler #skipNext{
    position: absolute;
    fill: rgb(150, 0, 0);
    left: 49%;
    top: 15%;
    user-select: none;
    cursor: pointer;
    transition: .2s;
}
.container .songControler #skipNext:hover{
    fill: red;
}
.container .songControler #skipBack{
    position: absolute;
    transform: rotate(180deg);
    fill: rgb(150, 0, 0);
    left: 41%;
    top: 15%; 
    user-select: none;
    cursor: pointer;   
    transition: 0.2s;
}
.container .songControler #skipBack:hover{
    fill: red;
}
.container .songControler #repeat{
    position: absolute;
    fill: rgb(150, 0, 0);
    left: 53%;
    top: 17%; 
    user-select: none;
    cursor: pointer;   
    transition: 0.2s;
}
.container .songControler #repeat:hover{
    fill: red;
}
.container .songControler #orderPlay{
    position: absolute;
    fill: rgb(150, 0, 0);
    left: 37%;
    top: 15%; 
    user-select: none;
    cursor: pointer;   
    transition: .2s;
}
.container .songControler #orderPlay:hover{
    fill: red;
}
.container .songControler #voloumHigh{
    position: absolute;
    fill: rgb(150, 0, 0);
    left: 88%;
    top: 34%; 
    user-select: none;
    transition: 0.2s;
    cursor: pointer;
    display: none;   
}
.container .songControler #voloumHigh:hover{
    fill: red;
}
.container .songControler #voloumEasy{
    position: absolute;
    fill: rgb(150, 0, 0);
    left:88%;
    top: 34%; 
    user-select: none;
    cursor: pointer;   
    display: none;
    transition: 0.2s;
}
.container .songControler #voloumEasy:hover{
    fill: red;
}
.container .songControler #voloumNone{
    position: absolute;
    fill: rgb(150, 0, 0);
    left: 88%;
    top: 34%;
    user-select: none;
    cursor: pointer;  
    transition: 0.2s;
    display: block; 
}
.container .songControler #voloumNone:hover{
    fill: red;
}
.container .songControler #voloumBarValue{
    -webkit-appearance: none;
    outline: none;
    height: 5px;
    cursor: pointer;
    margin: 0 15px;
    width: 7%;
    border-radius: 20px;
    fill: rgb(192, 35, 35);
    position: absolute;
    left: 90.4%;
    top: 50%;
    background-color: rgb(55, 51, 82);
}
.container .songControler #voloumBarValue::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #ff0000;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7); 
}
.container .songControler #voloumRangeHelper{
    position: absolute;
    height: 5px;
    cursor: pointer;
    width: 0px;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    left: 91.4%;
    top: 50%;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}
.container .songControler #songImage{
    position: absolute;
    left: 1%;
    top: 0;
    width: 8%;
    height: 100%;
    background-color: rgb(32, 29, 37);
    border-top: 2px solid black;
}
.container .songControler #pause{
    position: absolute;
    fill: rgb(190, 0, 0);
    left: 45%;
    top: 15%;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    display: none;
}
.container .songControler #pause:hover{
    fill:red;
}
.container .songControler #songName #like{
    position: absolute;
    fill: rgb(190, 0, 0);
    margin-left: 10px;
    user-select: none;
    cursor: pointer;
    transition: 0.2s;
    transform: translate(-10px,10px);
}
.container .songControler #songName #like:hover{
    fill: red;
}
.container .songControler #songName #unlike{
    position: absolute;
    fill: rgb(190, 0, 0);
    margin-left: 10px;
    user-select: none;
    cursor: pointer;
    transform: translate(-10px,10px);
    display: block;
    transition: 0.2s;
}
.container .songControler #songName #unlike:hover{
    fill: red;
}
.container .songControler #songName{
    position: absolute;
    color: rgb(184, 184, 184);
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: 10%;
    top: 40%;
    float: right;
    text-align: right;
    transition: 0.2s;
}
.container .songControler #songName:hover{
    color: rgb(224, 224, 224);
}
.container .songControler #songArtistName{
    position: absolute;
    color: rgb(138, 138, 138);
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: 10%;
    top: 64%;
    font-size: 0.7em;
    transition: 0.2s;
    float: right;
    text-align: right;
}
.container .songControler #songArtistName:hover{
    color: rgb(156, 156, 156);
}
.container .songControler #progressBarValue{
    position: absolute;
    left: 25.0%;
    top: 70%;
    background-color: rgb(47, 42, 61);
}
.container .songControler #rangeHelper{
    position: absolute;
    height: 5px;
    cursor: pointer;
    width: 0px;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    left: 26.1%;
    top: 70%;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
    z-index: 90;
}
.container .songControler #songTimeLeft{
    position: absolute;
    font-size: 0.9em;
    color: rgb(179, 179, 179);
    left: 23%;
    top: 63%;
}
.container .songControler #songTimeRemaining{
    position: absolute;
    font-size: 0.9em;
    color: rgb(179, 179, 179);
    left: 67%;
    top: 63%;
}
.container .songControler input[type = "range"]{
    -webkit-appearance: none;
    outline: none;
    height: 5px;
    cursor: pointer;
    margin: 0 15px;
    width: 40%;
    border-radius: 20px;
    fill: rgb(192, 35, 35);
  
}
.container .songControler input[type = "range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #ff0000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7); ;
}
.container .songControler input[type = "range"]:hover::-webkit-slider-thumb{
    display: block;
}
.container .songControler #addSong{
    position: absolute;
    fill: rgb(255, 0, 0);
    left: 86%;
    top: 39%;
    transition: 0.2s;
    cursor: pointer;
}
.container .songControler #addSong:hover{
    fill: rgb(255, 0, 0)
}   
.container .songControler #hider{
    width: 100%;
    height: 100%;
    z-index: 700;
    background-color: black;
    opacity: 0.7;
    display: block;
}
/*             home panel style               */
.container .home{
    position: absolute;
    width: 81.2%;
    height: 74%;
    background: rgb(18, 18, 26);
    transform: translate(40px,55px);
    border: border;
    z-index: 1;
    overflow-y: scroll;
}
.container .home::-webkit-scrollbar{
    width: 12px;
}
.container .home::-webkit-scrollbar-track{
    background-color: rgb(26, 24, 24);
}
.container .home::-webkit-scrollbar-thumb {
    background: rgb(43, 40, 56);
    cursor: pointer;
}
.container .home .madeForYou{
    position: absolute;
    height: 360px;
    width: 100%;
    overflow: hidden;
}
.container .home .madeForYou h2{
    color: white;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-left: 20px;
    user-select: none;
}.container .home .madeForYou ul{
    position: absolute;
    transform: translate(10px,30px);
    display: flex;
    height: 100%;
    width: auto ;
    z-index: 300;
    overflow-x: hidden;
}

.container .home .madeForYou ul li{
    display: inline-block;
    margin-left: 10px;
    position: relative;
    transition: 0.8s;
}
.lightMove{
    animation-name: lightMove;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 5s;
    animation-fill-mode: both;
}
.container .home .madeForYou ul li div{
    position: relative;
    width: 220px;
    height: 280px;
    background-color: rgb(30, 31, 49);
    opacity: 0.9;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
    z-index: 10;
}
.container .home .madeForYou ul li div span{
    position: absolute;
    width: 500px;
    height: 60px;
    background-color: rgb(146, 145, 145);
    opacity: 0.1;
    transform: rotateZ(45deg);
    filter: blur(2px);
    top: 440px;
    left: -100px;
    z-index: 30;
}
@keyframes lightMove{
    0%{
        top: 440px;
    }
    100%{
        top: -200;
    }
}
.container .home .madeForYou ul li div:hover{
    background-color: rgb(48, 49, 70)
}
.container .home .madeForYou ul li div .image{
    position: absolute;
    width: 84%;
    height: 66%;
    transform: translateX(-50%);
    left: 50%;
    top: 6%;
    z-index: 1;
    background-color: rgb(20, 19, 32);
    border-radius: 8px;
    overflow: visible;
}
.container .home .madeForYou ul li div .image .mfyPlayBox{
    width: 70px;
    height: 70px;
    z-index: 100;
    opacity: 0;
    user-select: none;
    transition: 0.3s;
    transform: translate(123px,120px);
}
.container .home .madeForYou ul li div:hover .image .mfyPlayBox{
    opacity: 1;
}
.container .home .madeForYou ul li div .image img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    user-select: none;
    height: 100%;
}
.container .home .madeForYou ul li div .mfySongName{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 78%;
    left: 8%;
    user-select: none;
    font-size: 1.1em;
}
.container .home .madeForYou ul li div .mfyArtistSongName{
    position: absolute;
    top: 87%;
    left: 8%;
    font-size: 0.9em;
    color: rgb(201, 201, 201);
    user-select: none;
}
.container .home .madeForYou ul .pullMfysong{
    position: absolute;
    background: radial-gradient(rgb(41, 41, 43),rgb(31, 31, 37));
    border-radius: 50%;
    width: 50px;
    z-index: 60;
    height: 50px;
    cursor: pointer;
    display: block;
    opacity: 0;
    transform: translateY(-40px);
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(25, 24, 36);
    transform:translateX(1030px);
    top: 100px;
    transition: 0.3s;
}
.container .home .madeForYou ul .pullMfysong:hover{
    border: 3px solid rgb(184, 0, 0);
}
.container .home .madeForYou ul .pullMfysong svg{
    fill:red;
    transform: rotateZ(-90deg);
    border-radius: 50%;
    position: absolute;
    left: 23%;
    top: 20%;
}
.container .home .madeForYou ul .pushMfysong{
    position: absolute;
    background: radial-gradient(rgb(41, 41, 43),rgb(31, 31, 37));
    border-radius: 50%;
    width: 50px;
    z-index: 60;
    height: 50px;
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(25, 24, 36);
    transform:translateX(40px);
    top: 100px;
    transition: 0.3s;
    opacity: 0;
}
.container .home .madeForYou ul .pushMfysong:hover{
    border: 3px solid rgb(175, 0, 0);
}
.container .home .madeForYou ul .pushMfysong svg{
    fill:red;
    transform: rotateZ(90deg);
    border-radius: 50%;
    position: absolute;
    left: 23%;
    top: 20%;
}
.container .home .recentlyPlayed{
    position: absolute;
    height: 370px;
    width: 100%;
    top: 400px;
    overflow: hidden;
}
.container .home .recentlyPlayed h2{
    color: white;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-left: 20px;
    user-select: none;
}.container .home .recentlyPlayed ul{
    position: absolute;
    transform: translate(10px,25px);
    display: flex;
    height: 100%;
    width: auto ;
    z-index: 300;
    overflow-x: hidden;
}

.container .home .recentlyPlayed ul li{
    display: inline-block;
    margin-left: 10px;
    position: relative;
    transition: 0.8s;
}
.container .home .recentlyPlayed ul li div{
    position: relative;
    width: 240px;
    height: 300px;
    background-color: rgb(30, 31, 49);
    opacity: 0.9;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
    z-index: 10;
}
.container .home .recentlyPlayed ul li div span{
    position: absolute;
    width: 500px;
    height: 60px;
    background-color: rgb(146, 145, 145);
    opacity: 0.1;
    transform: rotateZ(45deg);
    filter: blur(2px);
    top: 440px;
    left: -100px;
    z-index: 30;
}
.container .home .recentlyPlayed ul li div:hover{
    background-color: rgb(48, 49, 70)
}
.container .home .recentlyPlayed ul li div .image{
    position: absolute;
    width: 84%;
    height: 66%;
    transform: translateX(-50%);
    left: 50%;
    top: 6%;
    z-index: 1;
    background-color: rgb(20, 19, 32);
    border-radius: 8px;
    overflow: visible;
}
.container .home .recentlyPlayed ul li div .image .rpPlayBox{
    width: 70px;
    height: 70px;
    z-index: 100;
    opacity: 0;
    user-select: none;
    transition: 0.3s;
    transform: translate(143px,140px);
}
.container .home .recentlyPlayed ul li div:hover .image .rpPlayBox{
    opacity: 1;
}
.container .home .recentlyPlayed ul li div .image img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    user-select: none;
    height: 100%;
}
.container .home .recentlyPlayed ul li div .rpSongName{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 78%;
    left: 8%;
    user-select: none;
    font-size: 1.1em;
}
.container .home .recentlyPlayed ul li div .rpArtistSongName{
    position: absolute;
    top: 87%;
    left: 8%;
    font-size: 0.9em;
    color: rgb(201, 201, 201);
    user-select: none;
}
.container .home .recentlyPlayed ul .pullrpsong{
    position: absolute;
    background: radial-gradient(rgb(41, 41, 43),rgb(31, 31, 37));
    border-radius: 50%;
    width: 50px;
    z-index: 60;
    height: 50px;
    cursor: pointer;
    display: block;
    opacity: 0;
    transform: translateY(-40px);
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(25, 24, 36);
    transform:translateX(1030px);
    top: 100px;
    transition: 0.3s;
}
.container .home .recentlyPlayed ul .pullrpsong:hover{
    border: 3px solid rgb(184, 0, 0);
}
.container .home .recentlyPlayed ul .pullrpsong svg{
    fill:red;
    transform: rotateZ(-90deg);
    border-radius: 50%;
    position: absolute;
    left: 23%;
    top: 20%;
}
.container .home .recentlyPlayed ul .pushMfysong{
    position: absolute;
    background: radial-gradient(rgb(41, 41, 43),rgb(31, 31, 37));
    border-radius: 50%;
    width: 50px;
    z-index: 60;
    height: 50px;
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(25, 24, 36);
    transform:translateX(40px);
    top: 100px;
    transition: 0.3s;
    opacity: 0;
}
.container .home .recentlyPlayed ul .pushMfysong:hover{
    border: 3px solid rgb(175, 0, 0);
}
.container .home .recentlyPlayed ul .pushMfysong svg{
    fill:red;
    transform: rotateZ(90deg);
    border-radius: 50%;
    position: absolute;
    left: 23%;
    top: 20%;
}
.container .home .aboutListenIt{
    position: relative;
    width: 1060px;
    height: 400px;
    background-color: rgb(30, 31, 49);
    opacity: 0.9;
    border-radius: 7px;
    transition: 0.3s;
    overflow: hidden;
    z-index: 10;
    transform: translate(20px,860px);
}
.container .home .aboutListenItHeader{
    color: white;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-left: 20px;
    user-select: none;
    position: absolute;
    left: 10px;
    top: 810px;
}
.container .home .aboutListenIt p{
    font-weight: bold;
    color: rgb(200, 193, 216);
    font-size: 1.4em;
    margin: 30px;
    line-height: 30px;
}
.container .home .aboutListenIt .musicIcon{
    fill:rgb(48, 50, 78);
    filter: brightness(1%);
    transform: rotateZ(40deg);
    position: absolute;
    left: 43%;
    top: 30%;
    opacity: 0.2;
}
.container .home .aboutListenIt .aboutListenItH3{
    color: red;
    font-size: 5em;
    filter: brightness(60%);
    position: absolute;
    left: 5%;
    top: 73%;
}
.container .home .aboutListenIt .connections{
    position: absolute;
    left: 82%;
    top: 86%;
}
.container .home .aboutListenIt .connections li{
    display: inline-block;
    transition: 0.3;
}
.container .home .aboutListenIt .connections li svg{
       fill: #830000;
       cursor: pointer;
       transition: 0.3s;
}
.container .home .aboutListenIt .connections li svg:hover{
    fill: red;
}
@keyframes moveAboutIt{
    0%{transform: translateY(70px);opacity: 0;}
    100%{transform: translateY(0px);opacity: 1;}
}
.container .home .yourFavoriteArtists{
    position: absolute;
    height: 450px;
    width: 98%;
    left: 20px;
    transform: translateY(890px);
    overflow: hidden;
}
.container .home .yourFavoriteArtists h2{
    color: white;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-left: 20px;
    user-select: none;
}
.container .home .yourFavoriteArtists ul{
    position: absolute;
    transform: translate(0px,25px);
    display: flex;
    height: 100%;
    width: auto ;
    z-index: 300;
    overflow-x: hidden;
}

.container .home .yourFavoriteArtists ul li{
    display: inline-block;
    margin-left: 10px;
    position: relative;
    transition: 0.8s;
}
.container .home .yourFavoriteArtists ul li div{
    position: relative;
    width: 340px;
    height: 400px;
    background-color: rgb(30, 31, 49);
    opacity: 0.9;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
    z-index: 10;
}
.container .home .yourFavoriteArtists ul li div:hover{
    background-color: rgb(48, 49, 70)
}
.container .home .yourFavoriteArtists ul li div .image{
    position: absolute;
    width: 84%;
    height: 76%;
    transform: translateX(-50%);
    left: 50%;
    top: 6%;
    z-index: 1;
    background-color: rgb(20, 19, 32);
    border-radius: 8px;
    overflow: visible;
}

.container .home .yourFavoriteArtists ul li div .image img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    user-select: none;
    height: 100%;
}
.container .home .yourFavoriteArtists ul li div  .yfaName{
    color: aliceblue;
    position: absolute;
    top: 87%;
    left: 10%;
}
.container .home .yourFavoriteArtists ul .pullrpsong{
    position: absolute;
    background: radial-gradient(rgb(41, 41, 43),rgb(31, 31, 37));
    border-radius: 50%;
    width: 50px;
    z-index: 60;
    height: 50px;
    cursor: pointer;
    display: block;
    opacity: 0;
    transform: translateY(-40px);
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(25, 24, 36);
    transform:translateX(1030px);
    top: 100px;
    transition: 0.3s;
}
.container .home .yourFavoriteArtists ul .pullrpsong:hover{
    border: 3px solid rgb(184, 0, 0);
}
.container .home .yourFavoriteArtists ul .pullrpsong svg{
    fill:red;
    transform: rotateZ(-90deg);
    border-radius: 50%;
    position: absolute;
    left: 23%;
    top: 20%;
}
.container .home .yourFavoriteArtists ul .pushMfysong{
    position: absolute;
    background: radial-gradient(rgb(41, 41, 43),rgb(31, 31, 37));
    border-radius: 50%;
    width: 50px;
    z-index: 60;
    height: 50px;
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(25, 24, 36);
    transform:translateX(40px);
    top: 100px;
    transition: 0.3s;
    opacity: 0;
}
.container .home .yourFavoriteArtists ul .pushMfysong:hover{
    border: 3px solid rgb(175, 0, 0);
}
.container .home .yourFavoriteArtists ul .pushMfysong svg{
    fill:red;
    transform: rotateZ(90deg);
    border-radius: 50%;
    position: absolute;
    left: 23%;
    top: 20%;
}